<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ink Global Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>  
</head>
<body ng-app="igWeather">
    <div id="pageContainer" ng-controller="landingCtrl">
        <h1>{{title}}</h1>
        <ul>
            <li>
                <div class="header" ng-model="london" ng-click="london = ! london">
                    London
                <div>
                <div ng-show="london">
                    Temperature: 12 degrees
                </div>
            </li>
            <li>
                <div class="header" ng-model="luton" ng-click="luton = ! luton">
                    Luton
                </div>
                <div ng-show="luton">
                    Temperature: 11 degrees
                </div>
            </li>   
            <li>
                <div class="header" ng-model="manchester" ng-click="manchester = ! manchester">
                    Manchester
                </div>
                <div ng-show="manchester">
                    Temperature: 10 degrees
                </div>
            </li>   
            <li>
                <div class="header" ng-model="birmingham" ng-click="birmingham = ! birmingham">
                    Birmingham
                </div>
                <div ng-show="birmingham">
                    Temperature: 9 degrees
                </div>
            </li>
     
        </ul>
    </div>
    <!-- Third Party -->
    <script src="scripts/angular.js" type="text/javascript"/>
    <!-- <script src="https://code.angularjs.org/1.2.9/angular-resource.js" type="text/javascript"></script> -->
    <!-- local app -->
    <script src="app/config/build.js" type="text/javascript"></script>
    <script src="app/app.js" type="text/javascript"></script>
    <!-- App modules -->
    <script src="module/landing/landingModule.js" type="text/javascript"></script>
    <script src="module/shared/sharedModule.js" type="text/javascript"></script>
    <!-- Controllers -->
    <script src="module/landing/controller/landingCtrl.js" type="text/javascript"></script>
    <!-- Services -->
    <script src="module/shared/service/weatherService.js" type="text/javascript"></script>
</body>
</html>
 